<%- include('partials/_header')-%>
<%- include('partials/_navigation')-%>
<form id="contactForm" method="POST" action="/photos/<%= photo._id %>?_method=PUT" encType="multipart/form-data">
    <div class="row align-items-stretch mb-5">
        <div class="col-md-4 m-5">
            <h2 class="tm-page-title mb-4 tm-text-primary">Edit The Photo</h2>
            <div class="form-group mb-2">
                <!-- Photo Title input-->
                <input class="form-control" id="name" name="title" type="text"  value="<%= photo.title %>" placeholder="Photo Title" data-sb-validations="required" />
            </div>
           
            <div class="form-group">
                <!-- Photo Description input-->
                <input class="form-control mb-2" id="phone" name="description" type="tel" placeholder="Photo Description" data-sb-validations="required" value="<%= photo.description %>" /> 
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Update</button>
            </div>
            
        </div>
        
    </div>
    <!-- Submit success message-->
    <!---->
    <!-- This is what your users will see when the form-->
    <!-- has successfully submitted-->
    <div class="d-none" id="submitSuccessMessage">
        <div class="text-center text-white mb-3">
            <div class="fw-bolder">Form submission successful!</div>
            To activate this form, sign up at
            <br />
            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
        </div>
    </div>
    <!-- Submit error message-->
    <!---->
    <!-- This is what your users will see when there is-->
    <!-- an error submitting the form-->
    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
    <!-- Submit Button-->
    
</form>
<%- include('partials/_footer')-%>